<% content_for(:head) do %>
<%= javascript_include_tag "jcrop/jquery.Jcrop.min", "jcrop/jquery.Jcrop" %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $('#cropbox').Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    setSelect: [0, 0, 500, 500],
    aspectRatio: 3/2
  });
});

function update_crop(coords) {
  var rx = 210/coords.w;
  var ry = 140/coords.h;
  $('#preview').css({
    width: Math.round(rx * <%= @product.image_geometry(:large).width %>) + 'px',
    height: Math.round(ry * <%= @product.image_geometry(:large).height %>) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
  });
  var ratio = <%= @product.image_geometry(:original).width %> / <%= @product.image_geometry(:large).width %>;
  $("#crop_x").val(Math.round(coords.x * ratio));
  $("#crop_y").val(Math.round(coords.y * ratio));
  $("#crop_w").val(Math.round(coords.w * ratio));
  $("#crop_h").val(Math.round(coords.h * ratio));
}
</script>
<% end %>

<%= image_tag @product.image.url(:large), :id => "cropbox" %>

<h4>Preview:</h4>
<div style="width:210px; height:140px; overflow:hidden">
  <%= image_tag @product.image.url(:large), :id => "preview" %>
</div>

<% form_for @product do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.hidden_field attribute, :id => attribute %>
  <% end %>
  <p><%= f.submit "Crop" %></p>
<% end %>
